
<div class="image"></div>
<!-- TODO remove container and use :host instead -->
<article class="container">
<!--    TODO use text-overflow:ellipsis instead -->
  <h1 class="title">Very long title, lorem ispu...</h1>
  <section class="menu">
<!--      TODO use span instead -->
    <p class="item">Tag 1</p>
<!--      TODO use @for + nth-child + var() instead of inline style-->
    <p class="item" style="opacity: .8;">Tag 2</p>
    <p class="item" style="opacity: .6;">Tag 3</p>
    <p class="item" style="opacity: .4;">Tag 4</p>
  </section>
  <p class="description">{{description}}</p>
  <footer class="actions">
    <button mat-button color="primary" class="btn_primary">Label</button>
    <button mat-flat-button color="primary" class="btn_secondary">Label</button>
  </footer>
</article>
