/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --on-primary: white;
  --outline: #79747E;
  --outline-variant: #CAC4D0;
  --primary: #6750A4;
  --surface-container: #F3EDF7;
}
